<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Better Ember Doc</title>
    <link rel="shortcut icon" href="/images/favicon.png" />
  </head>

  <frameset cols="300,*" frameborder="1" border="1" bordercolor="#999999" framespacing="1">
    <frame src="search.html" title="Search" name="search" />
    <frame src="default-class.html" name="doc" />
  </frameset>
</html>
